@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

html
{
    background: rgb(230, 230, 230, 0.5);
    margin: 0 auto;
}

/* #landing /* title 
{
    font-family: 'Cinzel', serif;
}

.cabecalho
{
    font-family: 'Cinzel', serif;
}*/

#banner 
{
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px auto;
    padding: 150px;
    color: white;
    text-shadow: 1px 1px 5px rgb(202, 188, 188);
    text-align: center;
}

#banner h1, #banner h2, #banner p
{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

#banner a 
{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#banner a:hover
{
    color: #b6b0ae;
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
}

.container-fluid
{
    margin: 0 auto;
}

.row
{
   
    background: linear-gradient(45deg, #ece4de, #53504d, #e6d1bf);
    background-size: 220% 220%;
    animation: color_degrade 9s ease infinite;
}

.flip-cards
{
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    margin: 15px 8px;
    width: 270px;
    right: 365px;
    border-radius: 8px;
    padding: 0px 0px 0px 0px;
}

.flip-cards-front, .flip-cards-back
{
   background-size: cover;
   background-position: center;
   border-radius: 8px;
   min-height: 365px;
   transition: 0.9s cubic-bezier(.4, .2, .2, 1);
   backface-visibility: hidden;
}

.flip-cards-front
{
    transform: rotateY(0deg);
    transform-style: preserve-3d; 
    box-shadow: 9px 9px 15px rgb(0,0,0, 0.5);
}

.flip-cards:hover .flip-cards-front
{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-cards-back
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    transform-style: preserve-3d; 
    box-shadow: 9px 9px 15px rgb(0,0,0, 0.5);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-cards:hover .flip-cards-back
{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-cards .inner i
{
    font-size: 50px;
}

.flip-cards .inner
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(70px) scale(.95);
    top: 50px;
    margin-top: 100px;
}

.color-white
{
    font-family: 'Cinzel', serif;
    color: white;
    text-shadow: 2px 2px 5px  rgb(40, 113, 150);
    
}

.flip-cards-header
{
    font-size: 30px;
}

.flip-cards
{
    font-size: 20px;
    line-height: 1.5rem;
}

.cards
{
    margin: 15px 8px 15px 8px;   
    width: 270px;
    border-radius: 6%;
    padding-bottom: 0px 0px 0px 0px;
    background-color: rgb(236, 230, 236);
    border: 2px solid rgb(40, 41, 43, 0.7);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.5);
}

.card-img-top
{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.card-body
{
    font-family: 'Cinzel', serif;
    padding: 8px 8px 8px 8px;
    width: 100%;
    height: 180px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: inset 6px 6x 8px 8px  rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
}

#nome_footer
{
    font-family: 'Cinzel', serif;
    color: lightslategrey;
    font-size: 20px;
}

.footer
{
    padding: 30px;
    background: #3b3b38;
    margin-left: -8px;
}

@keyframes color_degrade
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 100%;
    }
}

.list-inline a
{
    color: lightslategrey;
    margin: 8px;
    font-size: 15px;
    text-decoration: none;

}

.list-inline li
{
    color: lightslategrey;
    font-size: 15px;
}

.list-inline #ye a:hover
{
    color: rgb(104, 172, 206);
    text-decoration: none;
}

.list-inline #vm a:hover
{
    color: #f77737;
    text-decoration: none;
}

.list-inline #az a:hover
{
    color: #3b5998;
    text-decoration: none;
}

.list-inline #tf a:hover
{
    color: #1da1f2;
    text-decoration: none;
}

.list-inline #ye:hover 
{
    color: rgb(104, 172, 206);
    text-decoration: none;
}

.list-inline #vm:hover 
{
    color: #f77737;
    text-decoration: none;
}

.list-inline #az:hover 
{
    color: #3b5998;
    text-decoration: none;
}

.list-inline #tf:hover 
{
    color: #1da1f2;
    text-decoration: none;
}



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }